/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My Reset */
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  outline: 0;
}
/* Header */

.header {
    padding: 30px;
    font-size: 32px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

body {
    background: url(../media/pic01.jpg);
}
.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.boxes {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.box {
    padding: 150px 70px;
    width: 30%;
    border-radius: 30px;
}
.linear {
    background-color: #E54E45;
}
.grad {
    background-image: linear-gradient(to right, #2E2A23 , #E64D44);
}
.rad {
    background-image: radial-gradient(rgb(230, 77, 68), #2E2A23 );
}
/* Big Box */
.bigbox {
    padding: 220px 100px;
    width: 80%;
    border-radius: 30px;
    background-image: linear-gradient(to right, rgba(122,117,102, 0.5),  rgba(197,66,33, 0.5)), url(../media/pic02.jpg);
}

.padding {
    padding-top: 40px;
}